# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Models and data
Models/
*.pkl

# Keep spacemountain.pkl for sample purposes
!Models/spacemountain.pkl

# OS-specific
.DS_Store
Thumbs.db